 <!-- FOOTER -->
 <footer class="mt-5 py-3">
    <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <img class="logo" src="/static/Images/LOGO.png" alt="">
            <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, accusamus.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, nam!</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
            <h5 class="pb-2">Featured</h5>
            <ul class="text-uppercase list-unstyled">
                <li><a href="#">Seeds</a></li>
                <li><a href="#">Seedlings</a></li>
                <li><a href="#">Materials</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Stores</a></li>
            </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
            <h5 class="pb-2">Contact Us</h5>
            <div>
                <h6 class="text-uppercase">Address</h6>
                <p>123 STREET NAME, CITY, US</p>
            </div>
            <div>
                <h6 class="text-uppercase">Phone</h6>
                <p>(123) 456-789</p>
            </div>
            <div>
                <h6 class="text-uppercase">Email</h6>
                <p>MAIL@EXAMPLE.COM</p>
            </div>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Happiness</h5>
            <div class="row">
                <img class="img-fluid w-25 h-100 m-2" src="/static/Images/LOGO.png" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="/static/Images/LOGO.png" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="/static/Images/LOGO.png" alt="">
                <a href="{% url 'Hamro:help' %}">Help</a>
            </div>
        </div>
    </div>
    <div class="copyright mt-5">
        <div class="row container mx-auto">
            <div class="col-lg-3 col-md-6 col-12 mb-4">
                <img class="img-fluid" src="/static/Images/payment.png" alt="">
            </div>
            <div class="col-lg-4 col-md-6 col-12 text-nowrap mb-2">
                <p>hamro biruwa @ 2021. All Rights Reserved</p>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>

        </div>
    </div>
</footer>