{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- <div class="img-content"></div> -->
<section class="container mt-5 pt-5">
    <div class="row mt-5 pt-5">
        <div class="col-lg-6">
            <h3 class="row col-lg-12 d-flex justify-content-center">Get In Touch With Us</h3>
            <div class="row d-flex justify-content-center">
                <!-- <div class="icon"></div> -->
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <div class="text">
                    <h3>Address</h3>
                    <p>Softwarica College, Dillibazar </p>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>+977 9841154296, 01-123456</p>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>hamrobiruwa@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <form action="">
                <h2 row col-lg-12 d-flex justify-content-center>Send Message</h2>
                <div class="row col-lg-12">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>

                <div class="row col-lg-12">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>

                <div class="row col-lg-12">
                    <input type="text" name="" required="required">
                    <span>Type your Message</span>

                </div>

                <div class="row col-lg-12   ">
                    <input type="submit" name="" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>
</body>

{% endblock %}