<h1>This is the orders page</h1>

<table class="table table-hover" id="dev-table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Ordered Date</th>
            <th>Status</th>
        </tr>
    </thead>
    {% for od in order %}
    {% if request.user.id == od.customer.id %}
    <tr>
        <td>{{ od.product.product_title }}</td>
        <td> <img src="{{ od.product.product_photo.url }}" alt="Profile Pic" height="30px" width="40px" /></td>
        <td>{{ od.product.price }}</td>
        <td>{{ od.order_date }}</td>
        <td>{{ od.status }}</td>
    </tr>
    {% endif %}
    {% endfor %} 
    <a href="{% url 'Hamro:home' %}">Goto HOME!</a>
</table>    
